target/
**/target/
*.log
*.tmp
.idea/
*.iml
.DS_Store
target/extent-report/
target/extent-report/**
target/surefire-reports/
*.local.properties
.vscode/
**/*.png
**/*.jpg
*.keystore
credentials.properties
mvnout.txt
docs/screenshots/
fullrun.txt
